extends ../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Tooltips
          p.subheadline
            | Use tooltips in mouse over events to show the user more information about an action or data.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown')
              | #[i.eos-icons.eos-18 keyboard_arrow_down] Tooltip assets
            ul.dropdown-menu.dropdown-menu-right
              li
                a.dropdown-item(href='https://xd.adobe.com/view/35f17373-2054-4d68-7b46-9e1d4d17e46d-43c0/', data-event-category='Dropdown link', data-event-action='Specifications', data-event-label='Buttons', target='_blank', rel='noreferrer nonopener')
                  i.eos-icons.eos-18
                    | open_in_new
                  | Design specifications
              li
                a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/raw/master/eos-website-design/External/Tooltip/Tooltip.xd', data-event-category='Dropdown link', data-event-action='SVG Download', data-event-label='Buttons', target='_blank', rel='noreferrer nonopener')
                  i.eos-icons.eos-18
                    | file_download
                  | Adobe XD file
              li
                a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/raw/master/eos-website-design/External/Tooltip/tooltip.svg', data-event-category='Dropdown link', data-event-action='SVG Download', data-event-label='Buttons', target='_blank', rel='noreferrer nonopener')
                  i.eos-icons.eos-18
                    | file_download
                  | SVG file
    hr
    article
      section.margin-top-xxl
        h3
          | Description
        ul.list-no-padding
          li
            | Tooltips are used to show more information in buttons, links, or important user data
            | (non-actionable) where the space in screen is insufficient.
          li
            | Tooltips should only appear on #[code :hover] and #[code :focus].
          li
            | Always show the tooltip on #[code top] of the element. Use #[code bottom], #[code left] or #[code right] only if #[code top] fails.
          li
            | Use #[code $eos-bc-gray-1000] as background color.

    article
      h3.margin-top-xxl
        | Usecases
      .row
        .col-md-12
          strong
            | Example 1: interactive message.
          .figure-wrap.margin-top-xxl
            figure
              img(src='/images/tooltips/color-panel-tooltip.svg', alt='Tooltip example for interactive message')
      .row.margin-top-xxxl
        .col-md-12
          strong
            | Example 2: truncated text shown entirely inside the tooltip.
          .figure-wrap.margin-top-xxl
            figure
              img(src='/images/tooltips/username-tooltip.svg', alt='Tooltip example for truncated text')
      .row.margin-top-xxxl
        .col-md-12
          strong
            | Example 3: icon only button.
          .figure-wrap.margin-top-xxl
            figure
              img(src='/images/tooltips/icon-buttons-tooltips.svg', alt='Tooltip example for icon only button')
