/* Dashboard writing variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */

/* $eos-da-w- stands for $eos-dashboard-writing */
$eos-da-w-custom-breakpoint: 1090px;
$eos-da-w-writing-mosaic-max-width: 850px;
/* Figure */
$eos-da-w-card-colored-figure-height: $eos-xxl;
$eos-da-w-card-colored-figure-padding: 0 $eos-l;
$eos-da-w-card-colored-figure-width: 25%;
$eos-da-w-card-colored-figure-m-width: 100%;
$eos-da-w-card-colored-figure-m-padding: 0;
$eos-da-w-card-colored-figure-m-margin-top: $eos-l;
$eos-da-w-card-colored-figure-img-m: $eos-xxxl;
/* Content */
$eos-da-w-card-colored-content-margin-bottom: $eos-s;
$eos-da-w-card-colored-content-padding: 0 $eos-s;
$eos-da-w-card-colored-content-width: 100%;
/* Head */
$eos-da-w-card-colored-head-width: 75%;
/* Blocks */
$eos-da-w-brand-voice-color: $eos-bc-cerulean-500;
$eos-da-w-brand-tone-color: $eos-bc-green-500;
$eos-da-w-brand-ux-writing: $eos-bc-yellow-900;
