extends ../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Buttons
          p.subheadline
            | Buttons are elements used to perform actions such as submitting a form,
            | opening a dialog, or cancelling an action. They are an essential element
            | of interaction design and have a primary role in the conversation between a user and the system.

          p.subheadline
            | There are a number of options you can use when styling a button such as size, type, and state.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown')
              | #[i.eos-icons.eos-18 keyboard_arrow_down] Buttons assets
            ul.dropdown-menu.dropdown-menu-right
              include ./shared/assets.pug
    hr
    article
      section.margin-top-xxl
        h3
          | Button vs. link
        p
          | The HTML elements for buttons and links describe a very specific type of action that is
          | going to be taken when they are used. However, it is important to know when to use one or
          | the other in a specific situation:
        ul.list-no-padding
          li
            | Use links for navigating to other pages.
          li
            | Use buttons for performing an action, such as: “submit”, “merge”, “create new”,
            | “upload”, etc. These actions almost always occur on the same page.
        eos-alert(type='info', scope='section', title='Bootstrap btn-link class')
          | Do not use the #[code btn-link] class in a button element.
          | All buttons should be clearly styled as buttons. This helps the user identify the
          | type of response to expect when clicking on a given element. Go to the
          | #[a(href='/buttons/usage', data-event-category='Internal link', data-event-action='usage', data-event-label='Buttons/alert') usage] page for more information about bootstrap classes.

      section.margin-top-xxl
        h3
          | Secondary button
        p
          | A secondary button is the standard button with basic style and the most commonly used option.

        ul.nav.nav-pills.nav-fill(role='tablist')
          li.nav-item(role='presentation')
            a.nav-link.active(href='#secondary-button-examples', aria-controls='secondary-button-examples', role='tab', data-toggle='tab')
              | Bootstrap 4 implementation examples
        .tab-content
          #secondary-button-examples.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                button.btn.btn-secondary
                  | Button
                button.btn.btn-secondary.disabled
                  | Disabled
              .css-snippet-container
                .scss-snippet-btns
                  i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                    | content_copy
                pre.prettyprint.js-snippet-code
                  code
                    | &lt;button class='btn btn-secondary'&gt;Button&lt;/button&gt;
                    | &lt;button class='btn btn-secondary disabled'&gt;Button&lt;/button&gt;

      section.margin-top-xxl
        h3
          | Inverse
        p
          | Use the inverse button when you placing a secondary button on a dark background.
        ul.nav.nav-pills.nav-fill(role='tablist')
          li.nav-item(role='presentation')
            a.nav-link.active(href='#inverse-button-examples', aria-controls='inverse-button-examples', role='tab', data-toggle='tab')
              | Bootstrap 4 implementation examples
        .tab-content
          #inverse-button-examples.tab-pane.active(role='tabpanel')
            .implementation-example
              .result.dark-bg
                button.btn.btn-secondary-inverse
                  | Button
                button.btn.btn-secondary-inverse.disabled
                  | Disabled
              .css-snippet-container
                .scss-snippet-btns
                  i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                    | content_copy
                pre.prettyprint.js-snippet-code
                  code
                    | &lt;button class='btn btn-secondary-inverse'&gt;Button&lt;/button&gt;
                    | &lt;button class='btn btn-secondary-inverse disabled'&gt;Button&lt;/button&gt;
      section.margin-top-xxl
        h3
          | Primary button
        p
          | A primary button is used for call-to-actions that are clearly more important and need attention drawn to it.
        p
          | The outlined version is the alternative to solid primary buttons. Use these buttons when
          | actions are primary but don’t want to give extra visual weight.
        ul.nav.nav-pills.nav-fill(role='tablist')
          li.nav-item(role='presentation')
            a.nav-link.active(href='#primary-button-examples', aria-controls='primary-button-examples', role='tab', data-toggle='tab')
              | Bootstrap 4 implementation examples
        .tab-content
          #primary-button-examples.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                button.btn.btn-primary
                  | Button
                button.btn.btn-outline-primary
                  | Button
                button.btn.btn-primary.disabled
                  | Disabled
                button.btn.btn-outline-primary.disabled
                  | Disabled
              .css-snippet-container
                .scss-snippet-btns
                  i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                    | content_copy
                pre.prettyprint.js-snippet-code
                  code
                    | &lt;button class='btn btn-primary'&gt;Button&lt;/button&gt;
                    | &lt;button class='btn btn-outline-primary'&gt;Button&lt;/button&gt;
                    | &lt;button class='btn btn-primary disabled'&gt;Button&lt;/button&gt;
                    | &lt;button class='btn btn-outline-primary disabled'&gt;Button&lt;/button&gt;
      section.margin-top-xxl
        h3
          | Danger button
        p
          | Use the danger button to indicate destructive or negative actions. For example, deleting
          | data.
        ul.nav.nav-pills.nav-fill(role='tablist')
          li.nav-item(role='presentation')
            a.nav-link.active(href='#danger-button-examples', aria-controls='danger-button-examples', role='tab', data-toggle='tab')
              | Bootstrap 4 implementation examples
        .tab-content
          #danger-button-examples.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                button.btn.btn-danger
                  | Button
                button.btn.btn-danger.disabled
                  | Disabled
              .css-snippet-container
                .scss-snippet-btns
                  i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                    | content_copy
                pre.prettyprint.js-snippet-code
                  code
                    | &lt;button class='btn btn-danger'&gt;Button&lt;/button&gt;
                    | &lt;button class='btn btn-danger disabled'&gt;Button&lt;/button&gt;
