//- Fill the modal with your annoucement banner and enabled it in Strapi (appplications > your_app > showAnnoucement)
.modal-custom.modal.fade(tabindex='-1', role='dialog', aria-labelledby='announcement-modal', data-active=`${locals.config.modalAnnoucement.isActive}`, data-campaing=`${locals.config.modalAnnoucement.campaign}`)
  .modal-dialog.modal-lg(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span.js-tooltip(title='Close', aria-hidden='true')
            i.eos-icons.eos-18.eos-light
              | close
      .modal-body
        .row
          .col-8.modal-description-column
            h2
              | SUSE has been
              br
              | rebranded
            p.subheadline
              | Find out more about
              br
              | the main changes for your product's UI

            a.js-modal-cta.btn.btn-primary(href='/news/how-to-rebrand-your-product')
              | Implementing the new SUSE brand
          .col-4
