.nav-wrap
  ul.menu-togglable.no-list-style
    li.menu-item
      .menu-element
        span.main-collapsed-title
          | Dashboard
      a.menu-title.js-select-current-parent.js-feature-flag(href='/', data-feature-flag= docEnabled['/'])
        i.eos-icons
          | home
        span.menu-title-content
          | Home
      li.menu-item.menu-dropdown
        input#documentation-toggle(type='checkbox')
        label.menu-title(for='documentation-toggle')
          i.eos-icons
            | school
          span.menu-title-content
            | Documentation
          i.eos-icons.eos-18.float-right.menu-expand
            | keyboard_arrow_down
        ul.menu-dropdown-list.menu-element
          li.menu-collapsed-title
            | Documentation
          li
            a.menu-title.js-select-current.js-feature-flag(href='/installing-npm', data-feature-flag= docEnabled['/installing-npm'])
              | Installing EOS npm
          li
            a.menu-title.js-select-current-parent.js-feature-flag(href='/design-specs', data-feature-flag= docEnabled['/design-specs'])
              | Implementing design specs
          li
            a.menu-title.js-select-current-parent.js-feature-flag(href='/design-kit', data-feature-flag= docEnabled['/design-kit'])
              | Design kit
    hr
    li.menu-item
      .menu-element
        span.main-collapsed-title
          | Alerts
      a.menu-title.js-select-current-parent.js-feature-flag(href='/alerts', data-feature-flag= docEnabled['/alerts'])
        i.eos-icons
          | notifications
        span.menu-title-content
          | Alerts
    li.menu-item
      .menu-element
        span.main-collapsed-title
          | Buttons
      a.menu-title.js-select-current-parent.js-feature-flag(href='/buttons', data-feature-flag= docEnabled['/buttons'])
        i.eos-icons
          | crop_16_9
        span.menu-title-content
          | Buttons
    li.menu-item
      .menu-element
        span.main-collapsed-title
          | Colors
      a.menu-title.js-select-current-parent.js-feature-flag(href='/colors', data-feature-flag= docEnabled['/colors'])
        i.eos-icons
          | color_lens
        span.menu-title-content
          | Colors
    li.menu-item.menu-dropdown
      input#form-elements-toggle(type='checkbox')
      label.menu-title(for='form-elements-toggle')
        i.eos-icons
          | assignment
        span.menu-title-content
          | Form elements
        i.eos-icons.eos-18.float-right.menu-expand
          | keyboard_arrow_down
      ul.menu-dropdown-list.menu-element
        li.menu-collapsed-title
          | Form elements
        li
          a.menu-title.js-select-current(href='/form-elements/checkbox')
            | Checkbox
        li
          a.menu-title.js-select-current(href='/form-elements/input-fields')
            | Input fields
    li.menu-item
      .menu-element
        span.main-collapsed-title
          | Icons
      a.menu-title.js-select-current-parent.js-feature-flag(href='/icons', data-feature-flag= docEnabled['/icons'])
        i.eos-icons
          | miscellaneous
        span.menu-title-content
          | Icons
    li.menu-item
      .menu-element
        span.main-collapsed-title
          | Patterns
      a.menu-title.js-select-current-parent.js-feature-flag(href='/patterns', data-feature-flag= docEnabled['/patterns'])
        i.eos-icons
          | patterns
        span.menu-title-content
          | Patterns
    li.menu-item
      .menu-element
        span.main-collapsed-title
          | Layout
      a.menu-title.js-select-current-parent.js-feature-flag(href='/layout', data-feature-flag= docEnabled['/layout'])
        i.eos-icons
          | web
        span.menu-title-content
          | Layout
    li.menu-item
      .menu-element
        span.main-collapsed-title
          | Links
      a.menu-title.js-select-current-parent.js-feature-flag(href='/links', data-feature-flag= docEnabled['/links'])
        i.eos-icons
          | link
        span.menu-title-content
          | Links
    li.menu-item
      .menu-element
        span.main-collapsed-title
          | Tooltips
      a.menu-title.js-select-current-parent.js-feature-flag(href='/tooltips', data-feature-flag= docEnabled['/tooltips'])
        i.eos-icons
          | chat_bubble_outline
        span.menu-title-content
          | Tooltips
    li.menu-item
      .menu-element
        span.main-collapsed-title
          | Typography
      a.menu-title.js-select-current-parent.js-feature-flag(href='/typography', data-feature-flag= docEnabled['/typography'])
        i.eos-icons
          | text_fields
        span.menu-title-content
          | Typography
    li.menu-item
      .menu-element
        span.main-collapsed-title
          | Writing guides
      a.menu-title.js-select-current-parent.js-feature-flag(href='/writing', data-feature-flag= docEnabled['/writing'])
        i.eos-icons
          | spellcheck
        span.menu-title-content
          | Writing guides
    - if ( process.env.NODE_ENV != 'staging' && process.env.NODE_ENV != 'production') {
      li.menu-item.menu-dropdown
        input#internal-tools-toggle(type='checkbox')
        label.menu-title(for='internal-tools-toggle')
          i.eos-icons
            | build
          span.menu-title-content
            | Internal tools
          i.eos-icons.eos-18.float-right.menu-expand
            | keyboard_arrow_down
        ul.menu-dropdown-list.menu-element
          li.menu-collapsed-title
            | Internal tools
          li
            a.menu-title.js-select-current(href='/internal/design-specs')
              | Design specs
    - }
