/* Features variables
   ========================================================================== */
/**
* Colors
*
* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss
*/
$eos-feature-container-border-color: $eos-bc-gray-100;
$eos-feature-container-border-highlight-color: $eos-bc-gray-300;
$eos-features-container-bg: $eos-bc-white;

$eos-feature-container-border-width: 5px;

/**
* Sizing and spacing
*
* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss
*/
$eos-feature-spacing: $eos-xl - 4;
$eos-feature-figure-img-height: 220px;
